<!DOCTYPE html>
<html>
<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


  </head>

  <body>
  <div class="navbar-fixed">
    <nav>


    <div class="nav-wrapper">
      <a href="/news/" class="brand-logo right">HAA</a>
      <ul id="nav-mobile" class="left">
        <li><a href="/news/Politics">Politics</a></li>
        <li><a href="/news/Science">Science</a></li>
        <li><a href="/news/Technology">Tech</a></li>
         <li><a href="/news/Sports">Sports</a></li>
      </ul>


    </div>
        </nav>
        </div>

    {% for n in news %}
<div class="container" >

<div class="row">
<div class="col s12 l4">
    <h3  class="lighten-10">{{n}}</h3>
    </div>
    <div class="col s12 l8">
    <p>{{n.body}}</p>
    <button class="btn center blue-text black waves-effect hoverable"><a href="{{n.newslink}}">Read More</a></button>

<p>{{n.date}}</p>
</div>
</div>
<div class="divider"></div>
  </div>
    {%endfor%}
   <!--   <div class="container">
    {%for agency in agencies%}
    <li>{{agency}}</li>
    {%endfor%}
      

    </div>
    -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
